# Python things:
.venv
.env
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook
.ipynb_checkpoints

# Mac
.DS_Store# Visual Studio Code:
*.code-workspace

# Python Flask Project:
*.venv
*.pyc
__pycache__/
instance/
.pytest_cache/
.coverage
htmlcov/
dist/
build/
*.egg-info/